@charset "UTF-8";

.clearfix:after{
	content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.boxes{
	//display: inline-block;
}

.box{
	width: 20%;
	height: 150px;
	background: orange;
	margin: 0 10px;
	float: left;
}

