@charset "UTF-8";

.clearfix:after{
	content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}

body{
	background: #ccc;
}

.container{
	width: 90%;
	margin: 0 auto;
	background: #fff;
}

.head{
	width: 100%;
	height: 500px;
	background-image: url(./img/bg1.jpg);
	background-size: cover;
	margin: 0;
	//visibility: hidden;
}

h1{
	color: #fff;
}

.boxes{
	//display: inline-block;
	margin: 10px auto;
}

.box{
	width: 23%;
	height: 50px;
	background: orange;
	margin: 0 10px;
	float: left;
}
.article{
	width: 95%;
	margin: 0 auto;
	border: 2px double #000;
	border-radius: 10%;
}

